<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Appareils
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">dB</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-col>

      <ion-list class="ios list-ios hydrated">

        <ion-item class="item ios in-list ion-focusable hydrated item-label">
          <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated" id="ion-tg-6-lbl" aria-hidden="true">Décibels</ion-label>
          <ion-toggle (ionChange)="call('DECIBELS', $event.detail.checked, null)" slot="start" [checked]="DecibelsState" name="cherry" color="secondary" aria-labelledby="ion-tg-6-lbl" aria-checked="false" role="switch" class="ion-color ion-color-secondary ios in-item interactive hydrated">
            <input type="hidden" class="aux-input" name="red" value="off">
          </ion-toggle>
        </ion-item>

      </ion-list>
    </ion-col>
    <ion-col>
        <div *ngIf="DecibelsState" class="ion-margin">
          <circle-progress
                  [percent]="DecibelsValue"
                  [radius]="90"
                  [outerStrokeWidth]="16"
                  [innerStrokeWidth]="8"
                  [outerStrokeColor]="'#78C000'"
                  [innerStrokeColor]="'#C7E596'"
                  [animationDuration]="300"
                  [maxPercent]="1500"
                  [showUnits]="false"
                  [subtitle]="'dB'"
          ></circle-progress>
        </div>
    </ion-col>
  </ion-grid>
</ion-content>
