<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Appareils
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Appareils</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-col>

      <ion-list class="ios list-ios hydrated" style="width: 90vw; position: absolute; top: 30vh; transform: translateY(-50%)">

        <ion-item class="item ios in-list ion-focusable hydrated item-label">
          <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated" id="ion-tg-3-lbl" aria-hidden="true">Horloge</ion-label>
          <ion-toggle (ionChange)="call('CLOCK', $event.detail.checked)" slot="start" [checked]="ClockState" name="banana" color="secondary" aria-labelledby="ion-tg-3-lbl" aria-checked="false" role="switch" class="ion-color ion-color-secondary ios in-item interactive hydrated">
            <input type="hidden" class="aux-input" name="white" value="off">
          </ion-toggle>
        </ion-item>

        <ion-item class="item ios in-list ion-focusable hydrated item-label">
          <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated" id="ion-tg-6-lbl" aria-hidden="true">Décibels</ion-label>
          <ion-toggle (ionChange)="call('DECIBELS', $event.detail.checked)" slot="start" [checked]="DecibelsState" name="cherry" color="secondary" aria-labelledby="ion-tg-6-lbl" aria-checked="false" role="switch" class="ion-color ion-color-secondary ios in-item interactive hydrated">
            <input type="hidden" class="aux-input" name="red" value="off">
          </ion-toggle>
        </ion-item>

      </ion-list>
    </ion-col>
  </ion-grid>
</ion-content>
